doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        types:
            habitant_id: App\Cadeau\Attribution\Infrastructure\Persistence\Doctrine\Type\HabitantIdType
            age: App\Cadeau\Attribution\Infrastructure\Persistence\Doctrine\Type\AgeType
            email_vo: App\Cadeau\Attribution\Infrastructure\Persistence\Doctrine\Type\EmailType
        profiling_collect_backtrace: '%kernel.debug%'
        use_savepoints: true
    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: App\Entity
                alias: App
            CadeauAttribution:
                type: xml
                is_bundle: false
                dir: '%kernel.project_dir%/src/Cadeau/Attribution/Infrastructure/Persistence/Doctrine/Orm/Mapping'
                prefix: App\Cadeau\Attribution\Domain\Model
                alias: CadeauAttribution
            CadeauDemande:
                type: xml
                is_bundle: false
                dir: '%kernel.project_dir%/src/Cadeau/Demande/Infrastructure/Persistence/Doctrine/Orm/Mapping'
                prefix: App\Cadeau\Demande\Domain\Model
                alias: CadeauDemande
when@test:
    doctrine:
        dbal:
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'
when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool
    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
