parameters: null
services:
    _defaults:
        autowire: true
        autoconfigure: true
    App\:
        resource: ../src/
        exclude:
            - ../src/DependencyInjection/
            - ../src/Entity/
            - ../src/Kernel.php
            - ../src/Cadeau/Attribution/Domain/Model/
            - ../src/Cadeau/Attribution/Domain/ValueObject/
    App\Cadeau\Attribution\UI\Http\Web\Controller\ListHabitantsController:
        arguments:
            $queryBus: '@query.bus'
    App\Cadeau\Attribution\Domain\Port\HabitantRepositoryInterface:
        class: App\Cadeau\Attribution\Infrastructure\Persistence\Doctrine\DoctrineHabitantRepository
    App\Cadeau\Attribution\Domain\Port\CadeauRepositoryInterface:
        class: App\Cadeau\Attribution\Infrastructure\Persistence\Doctrine\DoctrineCadeauRepository
    App\Cadeau\Attribution\Domain\Port\AttributionRepositoryInterface:
        class: App\Cadeau\Attribution\Infrastructure\Persistence\Doctrine\DoctrineAttributionRepository
    App\Cadeau\Demande\Domain\Port\DemandeCadeauRepositoryInterface:
        class: App\Cadeau\Demande\Infrastructure\Persistence\Doctrine\DoctrineDemandeCadeauRepository
